<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FISHNET CONTACTS</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"> </head>

<body>
    <div class="container">
        <div class="header">
            <a href="#"><img class="logo" src="img/logo.png" alt="logo"></a>
            <ul class="menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <h2 class="contact-us">Contacts Us</h2> </div>
        <div class="main">
            <div class="row">
                <div class="col-md-4 subsidiary"> <img src="img/mappoint.png" alt="">
                    <h3>CALIFORNIA</h3>
                    <div class="contact-title"> Phone:</div>
                    <div class="contact-value"> 1900 - 1234 -5678</div>
                    <div class="contact-title"> Email:</div>
                    <div class="contact-value"> info@interior.com</div>
                    <div class="contact-title"> Address:</div>
                    <div class="contact-value address"> 12 W 1st St, 90001 Los Angeles, California </div>
                </div>
				<div class="col-md-4 subsidiary"> <img src="img/mappoint.png" alt="">
                    <h3>CALIFORNIA</h3>
                    <div class="contact-title"> Phone:</div>
                    <div class="contact-value"> 1900 - 1234 -5678</div>
                    <div class="contact-title"> Email:</div>
                    <div class="contact-value"> info@interior.com</div>
                    <div class="contact-title"> Address:</div>
                    <div class="contact-value address"> 12 W 1st St, 90001 Los Angeles, California </div>
                </div>
				<div class="col-md-4 subsidiary"> <img src="img/mappoint.png" alt="">
                    <h3>CALIFORNIA</h3>
                    <div class="contact-title"> Phone:</div>
                    <div class="contact-value"> 1900 - 1234 -5678</div>
                    <div class="contact-title"> Email:</div>
                    <div class="contact-value"> info@interior.com</div>
                    <div class="contact-title"> Address:</div>
                    <div class="contact-value address"> 12 W 1st St, 90001 Los Angeles, California </div>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="footer">
            <div class="contacts">
                <h3>CONTACT US</h3>
                <p>132A Bridge Road Richmond VIC
                    <br>Australia.
                    <br>
                    <br>Talk to us on 1300 132 info@interior.com</p>
                <h6>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</h6> </div>
            <div class="info">
                <h3>USEFUL INFORMATION</h3>
                <p>Sales terms
                    <br>Customer care
                    <br>Delivery</p>
                <p>Architect accounts
                    <br> Careers
                    <br> Exchanges & returns</p> <img src="img/social-links.png" alt=""> </div>
            <div class="subscribe">
                <h3>LET`S STAY IN TOUCH</h3>
                <p>Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                <div class="email">
                    <input type="text" placeholder="   your email address ">
                    <a href="#"><img src="img/letter.png" alt=""></a>
                </div>
                <h6>Terms & Conditions  /  Privacy policy & Cookies</h6> </div>
        </div>
</body>

</html>