<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FISHNET</title>
    <link rel="stylesheet" href="style.css"> </head>

<body>
    <div class="container">
        <div class="header">
            <a href="#"><img class="logo" src="img/logo.png" alt="logo"></a>
            <ul class="menu">
                <li><a href="#">HOME</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
            <div class="text">
                <h3>TRENDING</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p> <a href="#">Order Us </a> </div>
        </div>
        <div class="featured">
            <div class="links"><a href="#">Featured</a><a href="#">New</a><a class="explore" href="#">EXPLORE ALL ></a></div>
            <div class="tab-content"> <img src="img/product-1.jpg" alt=""> <img src="img/product-2.jpg" alt=""> <img src="img/product-3.jpg" alt=""> <img src="img/product-4.jpg" alt=""> </div>
        </div>
        <div class="promo left">
            <div class="text">
                <h3>exclusive</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p> <a href="#">Order Us </a> </div>
        </div>
        <div class="promo right">
            <div class="text">
                <h3>exclusive</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p> <a href="#">Order Us </a> </div>
        </div>
        <div class="trending">
            <h1>Trending Products</h1><a class="explore" href="#">EXPLORE ALL ></a>
            <br>
            <div class="images"> <img src="img/trend/product-11.jpg" alt=""> <img src="img/trend/product-21.jpg" alt=""> <img src="img/trend/product-31.jpg" alt=""> <img src="img/trend/product-41.jpg" alt=""> <img src="img/trend/product-5.jpg" alt=""> <img src="img/trend/product-6.jpg" alt=""> </div>
        </div>
        <div class="hot">
            <div class="text">
                <h3>HOT DEAL</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p> <a href="#">Order Us </a> </div>
        </div>
        <div class="sleeproom">
            <div class="text">
                <h3>exclusive</h3>
                <h1>FISHNET CHAIR</h1>
                <p>Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p> <a href="#">Order Us </a> </div>
            <div class="images"> <img src="img/sleeproom/product-2-sm.jpg" alt=""> <img src="img/sleeproom/product-3-sm.jpg" alt="">
                <br><img src="img/sleeproom/product-4-sm.jpg" alt=""> <img src="img/sleeproom/product-5-sm.jpg" alt=""> </div>
        </div>
        <div class="apps">
            <!--        <div class="text"></div>-->
            <h3>MOBILE APP</h3>
            <h1>FIND. FOLLOW. FAVORITE.</h1>
            <h4>Save your favorites and share your style.</h4> <img src="img/apps/app-store.jpg" alt=""><img src="img/apps/google-play.jpg" alt=""></div>
    </div>
</body>

</html>